{% extends 'base.html' %}
{% block contenido %}
<br>
  <div class="large-12 columns">
    <h4 class="color-white"><a href="/">Inicio -</a> Lista de obras</h4>
    <table>
      <thead>
        <tr>
          <th width="235">Nit</th>
          <th width="235">Nombre</th>
          <th width="235">Direccion</th>
          <th width="235">Fecha inicio</th>
          <th width="235">Fecha finalizacion</th>
          <th width="235">Observaciones</th>
        </tr>
      </thead>
      <!-- IMPORTANT, class="list" have to be at tbody -->
      <tbody class="list">
        {% for obr in Obra %}
        <tr>
          <td><a href={{ request.get_host }}/obr/{{obr.id}}>{{obr.nit}}</a></td>
          <td>{{obr.nombreO}}</td>
          <td>{{obr.direccion}}</td>
          <td>{{obr.fecha_inicio}}</td>
          <td>{{obr.fecha_fin}}</td>
          <td>{{obr.observacioneso}}</td>
          <td><a href={{ request.get_host }}/obr_e/{{obr.id}}><input style="background-color:#FF0000" class="button tiny" type='submit' value='Borrar'/></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
